<OBJECT type='application/x-oleobject' CLASSID='CLSID:6BF52A52-394A-11D3-B153-00C04F79FAA6' codebase='http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701' width={WIDTH} height=62>
<param name='url' value='{URL}'>
<param name='EnableContextMenu' value=1>
<param name=volume VALUE=100>
<embed type="application/x-mplayer2" quality=high pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" file="{URL}" src="{URL}" WIDTH={WIDTH} HEIGHT={HEIGHT} AutoStart="1" EnableContextMenu="1" Mute="0" ShowStatusBar="1">
</OBJECT>