<table width=200 border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
	<tr>
		<td><img src="{TPL_LINK}/img/mp_top_l.jpg"></td>
		<td><img src='{TPL_LINK}/img/mp_top_m.jpg' width='100%' height='23' alt=''></td></td>
		<td><img src="{TPL_LINK}/img/mp_top_r.jpg"></td>
	</tr>
	<tr>
		<td></td>
		<td>
		
			<OBJECT type='application/x-oleobject' CLASSID='CLSID:6BF52A52-394A-11D3-B153-00C04F79FAA6' codebase='http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701' width={WIDTH} height=62>
			<param name='url' value='{URL}'>
			<param name="wmode" value="opaque">
			<param name='EnableContextMenu' value=1>
			<param name=volume VALUE=100>
			<embed type="application/x-mplayer2" wmode="opaque" quality=high pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" file="{URL}" src="{URL}" WIDTH={WIDTH} HEIGHT={HEIGHT} AutoStart="1" EnableContextMenu="1" Mute="0" ShowStatusBar="1">
			</OBJECT>
			
		</td>
		<td></td>
	</tr>
	<tr>
		<td><img src="{TPL_LINK}/img/mp_bot_l.jpg"></td>
		<td><img src='{TPL_LINK}/img/mp_bot_m.jpg' width='100%' height='23' alt=''></td></td>
		<td><img src="{TPL_LINK}/img/mp_bot_r.jpg"></td>
	</tr>
</table>