<table width=100% cellpadding=0 cellspacing=0>
	<tbody id=playing>
		<tr><td class=title_c colspan=3>Playlist</td></tr>
		<tr><td align=center colspan=3><!-- BEGIN player --><!-- END player --></td></tr>
	</tbody>
	<tr>
		<td colspan=3><div class=fr id='show_hide' style='margin:5;' align=center><span><a href="#" id='SoH' onClick="return SoH_Media('playing',0);">[-] Dấu mục nghe nhạc</a></span> || <span><a href=# onClick="return SoH_Media('playing',1);">[x] Tắt mục nghe nhạc</a></span></div></td>
	</tr>
</table>