<table width=100% cellpadding=0 cellspacing=0><tr>
	<td valign=top><table width=100% cellpadding=0 cellspacing=0>
	<tr><td><table cellpadding=2 cellspacing=2 width=100% class=border>
		<tr><td colspan=6 align=center class=title_c><b>{CAT_TITLE}</b></td></tr>
		<!-- BEGIN list --> 
		<!-- #BEGIN list_row -->
		<tr class={singer.CLASS} align=center><td width=50><img src="{singer.IMG}"></td><td align=left><a href={singer.URL}><b>{singer.NAME}</b></a></td></tr>
		<!-- #END list_row -->
		<!-- END list -->
		<tr class={CLASS} align=center><td colspan=6>Tìm thấy <b>{TOTAL}</b> ca sỹ</b></td></tr>
	</table></td></tr>
	<tr><td>{VIEW_PAGES}</td></tr>
	</table></td>
</tr></table>