<table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr><td class=title_c colspan=2>Thông tin thành viên</td></tr>
	<tr><td class=fr width="30%"><b>Tài khoản</b></td><td class=fr_2> <b>{user.NAME}</b></a></td></tr>
	<tr><td class=fr width="30%"><b>Quyền hạn</b></td><td class=fr_2> <b>{user.LEVEL}</b></a></td></tr>
	<tr><td class=fr><b>Email</b></td><td class=fr_2> <b>{user.EMAIL}</b></a></td></tr>
	<tr><td class=fr><b>Giới tính</b></td><td class=fr_2> <b>{user.SEX}</b></a></td></tr>
</table>