<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class=head_l ></td>
		<td align=center class=head_c >.:: Thông Tin Chi Tiết ::. </td>
		<td class=head_r > </td>
	</tr>
</table>

<table width=100% cellpadding=0 cellspacing=0 class=border>
	<tr><td class=head_div height="10" width="100%"></td></tr>
	<tr><td class=fr width="30%">
		<table border="0" cellpadding="2" cellspacing="2" width="100%">
			<tr><td style="font-size:14px; font-weight: bold;" height="31" class=title_n>{news.TITLE}</td></tr>
			<tr><td  class="m_list">
				<table width=50 height=50 align="right" border="0" cellpadding="4" cellspacing="4">
					<tr><td ><img width=100 src="{news.IMAGES}" ></td></tr>
					<tr><td align="center"style="color:#4C93BF; font-size:9px" >{news.IMAGESINFO}</td></tr>
				</table>
				<font style="text-align:justify; font-size:11px; line-height:120%">{news.CONTENT}</font></td></tr>
			<tr><td height="20"  class="m_list" align="right">Thông tin từ: <font style=" color:#666666">{news.FROM}</font></td></tr>
			<tr><td height="20" class="m_list" align="right"> {news.DATEPOST}</td></tr>
		</table>
	</td></tr>

</table>