
<div style="width:320px;position:absolute;margin-top:-20px;margin-left:60px" align=center>

<table width=100% cellpadding=0 cellspacing=0 style="border: #000 2px solid;border-top: 0px; background-color: #FFF" bgcolor="white">

	<tr style="background-image: url('{TPL_LINK}/img/black_bg.gif');color: #FFF; height: 22px; padding: 3px;">
<td style="padding-left:10px" align=left><b>Download</b></td><td style="padding:2px" align=right><a onclick="document.getElementById('download_field').style.display='none'; return false;" href="#Close"><img border=0 height=16 width=16 src="{TPL_LINK}/img/close.png"></a></td>
	</tr>

	<tr>
		<td colspan=2 class=fr align=center>

			<div id='gift_loading' style='display:none;margin-bottom:5'></div>
				<div name='download' id='download' >
				<a href="{LINK.DOWNLOAD}">
				<img width=32 height=32 src="img/{IMG.DOWNLOAD}">
				<br>{INFO.DOWNLOAD}
				</a>
				<div style="border: #E9E9E9 1px solid; padding:1;margin:5" align=center>
					<input type="text" onFocus="this.select()" value='{LINK.DOWNLOAD}' style="width:290px;text-align:center;border:0">
				</div>
				<!-- BEGIN more_links -->
				MORE LINKS
				<div style="Font-family: Arial; Font-size: 11px;border: #E9E9E9 1px solid; padding:5px; margin:5px; width:290px; height:120px; text-align:left; overflow:auto;">
					{MORE.LINKS}
				</div>
				<!-- END more_links -->
		</td>
	<tr>
		<td colspan=2 height=18 style="background:#EEEEEE" align=center>
			<a onclick="document.getElementById('download_field').style.display='none'; return false;" href="#Close">[X] Tắt mục Download</a>
		</td>
	</tr>
	</tr>

</table>

</div>
<br>


