<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: Quên mật khẩu ::. </td>		<td class=head_r > </td>	</tr></table><form method="post" onSubmit="return false;">
<table align=center cellpadding=2 cellspacing=2 class=border width=99%>
	<tr><td align="center" colspan=2 width=100% class="head_div"> </td></tr>
	<tr><td align="center" colspan="2"><div id='forgot_loading' style='display:none;margin-bottom:5'></div>
	<tr>
		<td class="fr" width="30%"><b>Email của bạn</b></td>
		<td class="fr_2"><input size="30" type="text" id="u_email" maxlength="50"></td>
	</tr>
	<tr><td align="center" colspan="2" class="fr"><input type="submit" value="Gởi đi" class="button_1" onClick="return forgot();"></td></tr>
</table>
</form>