<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: Quà Tặng Âm Nhạc  ::. </td>		<td class=head_r > </td>	</tr></table><div class=head_div style="width:100%;height:5px;margin:0px;"></div><table cellpadding="0" cellspacing="0" align="center" width="100%">
	<tr>
		<td width=5><img src="{TPL_LINK}/img/shadow/CardShadow_LT.gif" width="5" height="5" style="vertical-align:bottom"></td>
		<td height=5 align="right" style="background-position:bottom;background-image:url({TPL_LINK}/img/shadow/CardShadow_T.gif);background-repeat:repeat-x"><img src="{TPL_LINK}/img/shadow/CardShadow_TR.gif" width="8" height="5" style="vertical-align:bottom"></td>
		<td width=8></td>
	</tr>
	<tr>
		<td width="5" background="{TPL_LINK}/img/shadow/CardShadow_L.gif" valign="bottom"></td>
		<td>
			<table cellpadding="0" cellspacing="0" align="center" style="border: black 2px solid;" width="100%">
				<tr><td align="center" bgcolor="#000000" style="border: black 2px solid;;height:100"><!-- BEGIN player --><!-- END player --></td></tr>
				<tr><td style="height:50px;vertical-align:top;padding:5">{gift.MESSAGE}<br></td></tr>
				<tr>
					<td align="right" bgcolor="#000000" height="20" style="color:white;font-size:10px">Gởi bởi <b>{gift.SENDER}</b> đến <b>{gift.RECIP}</b> vào lúc <b>{gift.TIME}</b></td>
				</tr>
			</table>
		</td>
		<td width="8" valign="top" background="{TPL_LINK}/img/shadow/CardShadow_R.gif"><img src="{TPL_LINK}/img/shadow/CardShadow_RT.gif" width="8" height="8" style="vertical-align:top"></td>
	</tr>
	<tr>
		<td width="5" height="8"></td>
		<td height="8" style="background-position:top;background-image:url({TPL_LINK}/img/shadow/CardShadow_B.gif);background-repeat:repeat-x"><img src="{TPL_LINK}/img/shadow/CardShadow_BL.gif" width="8" height="8" style="vertical-align:top"></td>
    	<td width="8" height="8"><img src="{TPL_LINK}/img/shadow/CardShadow_BR.gif" width="8" height="8" style="vertical-align:top"></td>
	</tr>
</table>