<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class=head_l ></td>
		<td align=center class=head_c >.:: Tin Tức Âm Nhạc ::. </td>
		<td class=head_r > </td>
	</tr>
</table>

<table width=100% cellpadding=0 cellspacing=0><tr>
	<td valign=top><table width=100% cellpadding=0 cellspacing=0>
	<tr><td><table cellpadding=3 cellspacing=2 width=100% class=border>
		<tr><td colspan=6 class=head_div height=23 width=100%> </td></tr>
		<!-- BEGIN list --> 
		<!-- #BEGIN list_row -->
		<tr>
			<td>
				<table class=border cellpadding="2" cellspacing="2" width="100%">
					<tr><td style="color:#FD6B06; font-size:12px; padding-left:10px;" height="31" class="title_n"><a href="{news.URL}">{news.TITLE}</a></td></tr>
					<tr><td  class="m_list"><table  align="left" border="0" cellpadding="2" cellspacing="2"><tr><td ><img src="{news.IMAGES}" width="100" ></td></tr></table><font style="text-align:justify; line-height:120%">{news.CONTENT}</font></td></tr>
					<tr><td style="color:#FFCC00; padding-right:20px" height="20"  class="m_list" align="right"><a href="{news.URL}"><img src='{TPL_LINK}/img/more.gif' width=47 height=9 border=0></a></td></tr></table>
			</td>
		</tr>
		<!-- #END list_row -->
		<!-- END list -->
		<tr class={CLASS} align=center><td colspan=6>Có tất cả <b>{TOTAL}</b> mục tin tức</b></td></tr>
	</table></td></tr>
	<tr height="30" valign="middle"><td>{VIEW_PAGES}</td></tr>
	</table></td>
</tr></table>