<table width=100% cellpadding=0 cellspacing=0>
<tr>
	<td valign=top><table width=100% cellpadding=0 cellspacing=0>
	<tr><td><table cellpadding=2 cellspacing=2 width=100%>
	<tr><td class=head_1 style="padding-left:10px;" >{NAME_ML}</td></tr>
		<!-- BEGIN list --> 
		<!-- #BEGIN list_row -->
	<tr><td class="m_list">&nbsp;&nbsp;&nbsp;&nbsp;&raquo;&nbsp;<a href="{news.URL}">{news.TITLE}</a>&nbsp;&nbsp;Ngày:<font style="color:#FFCC00">{news.DATEPOST}</font></td></tr>
		<!-- #END list_row -->
		<!-- END list -->

	</table></td></tr>
	</table></td>
</tr></table>