<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: {CAT_TITLE}  ::. </td>		<td class=head_r > </td>	</tr></table><table width=100% cellpadding=0 cellspacing=0><tr>
	<td valign=top><table width=100% cellpadding=0 cellspacing=0>
	<tr><td class=head_div ><table cellpadding=2 cellspacing=2 width=100% class=border>
		<tr align=center class=m_bar_info><td colspan=2></td><td width=30px><img src='{TPL_LINK}/img/media/play.gif'></td></tr>
		<!-- BEGIN list --> 
		<!-- #BEGIN list_row -->
		<tr class={album.CLASS} align=center><td width=50><img src="{album.IMG}" width=100 height=100></td><td align=left><a href={album.URL}><b>{album.NAME}</b></a><br> &#187; <a href="{singer.URL}">{singer.NAME}</a></td><td><b>{album.VIEWED}</b></td></tr>
		<!-- #END list_row -->
		<!-- END list -->
		<tr class={CLASS} align=center><td colspan=6>Có tất cả <b>{TOTAL}</b> Album</b></td></tr>
	</table></td></tr>
	<tr><td>{VIEW_PAGES}</td></tr>
	</table></td>
</tr></table>