<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: Danh sách thành viên  ::. </td>		<td class=head_r > </td>	</tr></table><table width=100% cellpadding=0 cellspacing=0><tr>
	<td class=head_div valign=top><table width=100% cellpadding=0 cellspacing=0>
	<tr><td><table cellpadding=2 cellspacing=2 width=100% class=border>
		<tr align=center class=m_bar_info><td>Username</td><td width=30px>Email</td></tr>
		<!-- BEGIN list --> 
		<!-- #BEGIN list_row -->
		<tr class={user.CLASS}><td><a href="{user.URL}"><b>{user.NAME}</b></a></td><td align=right>{user.EMAIL}</td></tr>
		<!-- #END list_row -->
		<!-- END list -->
		<tr class={CLASS} align=center><td colspan=6>Có tất cả <b>{TOTAL}</b> thành viên</b></td></tr>
	</table></td></tr>
	<tr><td>{VIEW_PAGES}</td></tr>
	</table></td>
</tr></table>