<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: Nghe nhạc ::. </td>		<td class=head_r > </td>	</tr></table><table width=100% cellpadding=0 cellspacing=0>
	<tbody id=playing>
		<tr><td class=head_div width=100% colspan=3></td></tr>
		<tr><td width="100px" align=center class=border><img src="{singer.IMG}" width=100 height=100></td></tr>
		<tr><td class=fr><b>Ca sỹ</b></td><td class=fr_2> <a href="{singer.URL}"><b>{singer.NAME}</b></a></td></tr>
		<tr><td align=center colspan=3><!-- BEGIN player --><!-- END player --></td></tr>
		<tr><td class=fr colspan=3>{singer.INFO}</td></tr>
	</tbody>
	<tr>
		<td colspan=3><div class=fr id='show_hide' style='margin:5;' align=center><span><a href="#" id='SoH' onClick="return SoH_Media('playing',0);">[-] Dấu mục nghe nhạc</a></span> || <span><a href=# onClick="return SoH_Media('playing',1);">[x] Tắt mục nghe nhạc</a></span></div></td>
	</tr>
</table>