<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: Đăng ký ::. </td>		<td class=head_r > </td>	</tr></table><form onSubmit="return false;" method="post">
<table width=99% align=center cellpadding=0 cellspacing=0 class=border>
	<tr><td width=100% class=head_div colspan=2></td></tr>
	<tr><td colspan=2><div id='reg_loading' style='display:none;margin-bottom:5'></div></td>
	<tr>
		<td width=30% class=fr><b>Username</b></td>
		<td width=80% class=fr_2><input type=text id="reg_name" maxlength=50 size=30></td>
	</tr>
	<tr>
		<td class=fr><b>Mật khẩu</b></td>
		<td class=fr_2><input type="password" id="reg_pwd" maxlength="50" size="30"></td>
	</tr>
	<tr>
		<td class=fr><b>Xác nhận mật khẩu</b></td>
		<td class=fr_2><input type="password" id="reg_pwd2" maxlength="50" size="30"></td>
	</tr>
	<tr>
		<td class=fr><b>E-mail</b></td>
		<td class=fr_2><input type="text" id="reg_email" maxlength="80" size="30"></td>
	</tr>
	<tr>
		<td class=fr><b>Giới tính</b></td>
		<td class=fr_2>
			<input name=reg_sex type="radio" value="1" checked class=checkbox> Nam &nbsp;&nbsp;
			<input name=reg_sex type="radio" value="2" class=checkbox> Nữ
		</td>
	</tr>
	<tr><td style="padding:5" class=fr colspan=2>
	<b>Quy định khi đăng kí :</b><br>
	    Site âm nhạc được lập ra để giao lưu học hỏi, không được gửi những bài viết sai với quy đinh của Site âm nhạc.<br>
	    Và sau đây là những quy định mà các bạn cần phải nhớ kỹ khi tham gia : <br>
	    1. Site âm nhạc không chấp nhận bất cứ thông tin nào đi ngược lại với thuần phong mỹ tục và truyền thống văn hoá của nước Việt Nam, không chấp nhận bất cứ chủ đề thảo luận hoặc có ý gây hiểu lầm về chính trị, vi phạm luật pháp của nhà nước CHXHCN Việt Nam. Mọi bài viết có nội dung hoặc chứa liên kết đến các trang web có nội dung vi phạm những điều trên đều sẽ được xóa hoặc biên tập mà không cần thông báo trước. <br>
	    2. Chăm online nghe nhạc ^_^.<br>
	    3. Giới thiệu Site này tới bạn bè .<br>
	    4. Những thành viên cố tình vi phạm hoặc vi phạm nhiều lần quy định sẽ bị loại ra khỏi Site âm nhạc.<br>
	</td></tr>
	<tr><td style="padding:5" class=fr colspan=2><label for=agree style="cursor:hand"><input type="checkbox" class="checkbox" id="agree"> Tôi đồng ý với những quy định trên</label></td></tr>
	<tr><td colspan=2 align="center" class="fr_2" style="padding:5">
			<input type="submit" value="Đăng ký" class="button_1" onClick="return reg_check_values();"> <input type="reset" value="Nhập lại" class="button_1">
	</td></tr>
</table>
</form>