<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: {CAT_TITLE} ::. </td>		<td class=head_r > </td>	</tr></table><table width=100% cellpadding=0 cellspacing=0><tr>
	<td class=head_div valign=top><table width=100% cellpadding=0 cellspacing=0>
	<tr><td><table cellpadding=2 cellspacing=2 width=100% class=border>
		<!-- BEGIN list --> 
		<!-- #BEGIN list_row -->
		<tr class={album.CLASS} align=center><td width=50><img src="{album.IMG}"></td><td align=left><a href={album.URL}><b>{album.NAME}</b></a><br> &#187; <a href="{singer.URL}">{singer.NAME}</a></td></tr>
		<!-- #END list_row -->
		<!-- END list -->
		<tr class={CLASS} align=center><td colspan=6>Tìm thấy <b>{TOTAL}</b> album</b></td></tr>
	</table></td></tr>
	<tr><td style="padding:5px;">{VIEW_PAGES}</td></tr>
	</table></td>
</tr></table>