<html>
<head>
	<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
	<title>.: {WEB_TITLE} :.</title>
	<meta name="description" content="Xem, nghe và Download nhạc, phim, truyền hình trực tuyến miễn phí không cần đăng ký" />
	<meta name="keywords" content="HVACR MEDIA : Music, Media, Nhạc, Nhac, Xem phim, Truyền hình, Truyen hinh, nghe nhac, phim, diện ảnh" />

	<meta http-equiv="imagetoolbar" content="no">
	<link rel=alternate type="application/rss+xml" title="{WEB_TITLE}" href="rss.php">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel=stylesheet href='{TPL_LINK}/style.css' type=text/css>
	<style>
	.site_off {
		background-image: url('{TPL_LINK}/img/headred_c.gif');
		color: #FFF;
		font-size: 12px;
		font-family: Verdana;
		font-weight: bold;
		height: 26px;
	}
	</style>
</head>

<body>

<div style="width:60%; position:absolute; display:block; left:20%; top:20%;">

	<table width=100% cellpadding=0 cellspacing=0 class=border style="margin:0px;padding:0px">
		<tr><td align=center class=site_off>&nbsp;&nbsp;&nbsp;<b>Thông báo</b></td></tr>
		<tr>
			<td style="padding: 10px; background-color: #FFF;">
				{SITEOFF.INFO}
			</td>
		</tr>
	</table>
</div>

</body>
</html>