
<div id=truyen_hinh style="margin-bottom:5px">

<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class=head_l ></td>
		<td align=center class=head_c >.:: Truyền Hình trực tuyến ::. </td>
		<td class=head_r > </td>
	</tr>
</table>


<table class=border width=100% cellpadding=0 cellspacing=0>
	<tr>
		<td valign=top align=center>
			<table cellpadding=5 cellspacing=2 width=99% align=center>
				<tr>
					<td class=head_div style="padding-top:20px" align=center>
						<div id=tv_player>
							<table width=200 border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
								<tr>
									<td><img src="{TPL_LINK}/img/mp_top_l.jpg"></td>
									<td><img src='{TPL_LINK}/img/mp_top_m.jpg' width='100%' height='23' alt=''></td></td>
									<td><img src="{TPL_LINK}/img/mp_top_r.jpg"></td>
								</tr>
								<tr>
									<td></td>
									<td>
											<OBJECT type='application/x-oleobject' CLASSID='CLSID:6BF52A52-394A-11D3-B153-00C04F79FAA6' codebase='http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701' width=400 height=360>
												<param name='url' value='{URL}'>
												<param name='EnableContextMenu' value=0>
												<param NAME=volume VALUE=100>
												<param name="wmode" value="opaque">
												<EMBED type="application/x-mplayer2" wmode="opaque" quality=high pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" file="{URL}" src="{URL}" WIDTH=400 HEIGHT=360 AutoStart="1" EnableContextMenu="1" Mute="0" ShowStatusBar="1">
											</OBJECT>

									</td>
									<td></td>
								</tr>
								<tr>
									<td><img src="{TPL_LINK}/img/mp_bot_l.jpg"></td>
									<td><img src='{TPL_LINK}/img/mp_bot_m.jpg' width='100%' height='23' alt=''></td></td>
									<td><img src="{TPL_LINK}/img/mp_bot_r.jpg"></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td align=center>
						<a href="#Truyen_Hinh,VTC1"><img border="0" src="img/VTC1.jpg" width="83" height="35"></a>
						<a href="#Truyen_Hinh,VTC2"><img border="0" src="img/VTC2.jpg" width="83" height="35"></a>
						<a href="#Truyen_Hinh,VTC3"><img border="0" src="img/VTC3.jpg" width="83" height="35"></a>
						<a href="#Truyen_Hinh,VTC5"><img border="0" src="img/VTC5.jpg" width="83" height="35"></a>
						<p>
						<a href="#Truyen_Hinh,HTV7"><img border="0" src="img/HTV7.jpg" width="60" height="30"></a>
						<a href="#Truyen_Hinh,HTV9"><img border="0" src="img/HTV9.jpg" width="60" height="30"></a>
						<a href="#Truyen_Hinh,HTVMUSIC"><img border="0" src="img/HTVMUSIC.jpg" width="60" height="30"></a>
						<a href="#Truyen_Hinh,HTVMOVIE"><img border="0" src="img/HTVMOVIE.jpg" width="60" height="30"></a>
						<br>
						<a href="#Truyen_Hinh,VTV1"><img border="0" src="img/VTV1.jpg" width="60" height="30"></a>
						<a href="#Truyen_Hinh,VTV2"><img border="0" src="img/VTV2.jpg" width="60" height="30"></a>
						<a href="#Truyen_Hinh,VTV3"><img border="0" src="img/VTV3.jpg" width="60" height="30"></a>
						<a href="#Truyen_Hinh,VTV4"><img border="0" src="img/VTV4.jpg" width="60" height="30"></a>
						<br>
						<a href="#Truyen_Hinh,HTV"><img border="0" src="img/HTV.jpg" width="60" height="30"></a>
						<a href="#Truyen_Hinh,DN1"><img border="0" src="img/DN1.jpg" width="60" height="30"></a>
						<a href="#Truyen_Hinh,DN2"><img border="0" src="img/DN2.jpg" width="60" height="30"></a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
		<tr>
			<td align=center >
				<div width=100% align=center class=border style="margin:5px;padding:2px;background:#EEEEEE" >
					<a onclick="document.getElementById('truyen_hinh').style.display='none'; return false;" href="#Hide">[-] Tắt mục Truyền Hình</a>
				</div>
			</td>
		</tr>
</table>

</div>