<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: Thông tin thành viên ::. </td>		<td class=head_r > </td>	</tr></table><table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr><td class=head_div width=100% colspan=2></td></tr>
	<tr><td class=fr width="30%"><b>Tài khoản</b></td><td class=fr_2> <b>{user.NAME}</b></a></td></tr>
	<tr><td class=fr width="30%"><b>Quyền hạn</b></td><td class=fr_2> <b>{user.LEVEL}</b></a></td></tr>
	<tr><td class=fr><b>Email</b></td><td class=fr_2> <b>{user.EMAIL}</b></a></td></tr>
	<tr><td class=fr><b>Giới tính</b></td><td class=fr_2> <b>{user.SEX}</b></a></td></tr>
</table>