<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class=head_l ></td>
		<td align=center class=head_c >.:: Liên kết ::. </td>
		<td class=head_r > </td>
	</tr>
</table>

<table cellpadding=2 cellspacing=2 width=100% class=border>
	<tr class=head_div><td><MARQUEE scrollAmount=1 direction=up loop=true truespeed scrolldelay=12 height=200 onMouseOver="this.stop()" onMouseOut="this.start()">
	<!-- BEGIN ads -->
	<!-- #BEGIN ads.row -->
	<div align="center"><a href="{ads.URL}" target="_blank"><img width="140" src="{ads.IMG}" title="{ads.WEB}" alt="{ads.WEB}"></a></div>
	<!-- #END ads.row -->
	<!-- END ads -->
	</marquee></td></tr>
</table>