<table width=100% cellpadding=0 cellspacing=0 class=border>
<tr class=head_div >
	<td align="center">
		<a onClick="scrool_auto()" href=#Home><img width=70 height=50 src='{TPL_LINK}/img/menu/home.png'></a>
	</td>
	<td align="center">
		<a onclick="self.scrollTo(0, 650);document.getElementById('truyen_hinh').style.display='block';" href=#Truyen_Hinh><img width=70 height=50 src='{TPL_LINK}/img/menu/tvonline.png'></a>
	</td>
	<td align="center">
		<a href=#Top_Play><img width=70 height=50 src='{TPL_LINK}/img/menu/topplay.png'></a>
	</td>
	<td align="center">
		<a href=#Top_Download><img width=70 height=50 src='{TPL_LINK}/img/menu/topload.png'></a>
	</td>
	<td align="center">
		<a href=#List_News><img width=70 height=50 src='{TPL_LINK}/img/menu/news.png'></a>
	</td>
	<td align="center">
		<a href=#Ebooks><img width=70 height=50 src='{TPL_LINK}/img/menu/ebooks.png'></a>
	</td>
	<td align="center">
		<a href=#List_Album><img width=70 height=50 src='{TPL_LINK}/img/menu/album.png'></a>
	</td>
	<td align="center">
		<a href=#List_User><img width=70 height=50 src='{TPL_LINK}/img/menu/members.png'></a>
	</td>
	<td align="center">
		<a href="javascript:self.scrollTo(0,50);showThongBao();"><img width=70 height=50 src='{TPL_LINK}/img/menu/info.png'></a>
	</td>
	<td align="center">
		<a href=#Request><img width=70 height=50 src='{TPL_LINK}/img/menu/request.png'></a>
	</td>
</tr>
</table>