<style>
.comment_BX {
	margin-top: 3px;
	padding: 0px;
}

.comment_BOX {
	font-size: 10px;
	border: 1px solid #6FB0D8;
	border-top: 0px;
	border-left: 0px;
	margin-top: 3px;
}

.comment_mediatitle_BOX {
	padding-left: 2px;
	background-image: url('{TPL_LINK}/img/b3.gif');
	font-weight: bold;
	height: 18px;
}
.a_comment_mediatitle_BOX {
	padding-top: 3px;
	color: #EE1932;
}
.a_comment_mediatitle_BOX:hover {
	padding-left: 4px;
	color: #008000;
}
.comment_content_BOX {
	margin-top: 0px;
	padding: 1px;
}

.comment_sender_BOX {
	text-decoration: none;
	font-weight: bold
}

</style>

<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class=head_l ></td>
		<td align=center class=head_c >.:: Comment ::.</td>
		<td class=head_r > </td>
	</tr>
</table>

<table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr class=head_div ><td>
		<!-- BEGIN newest_commnet -->
		<!-- #BEGIN newest_commnet.row -->
			<div class="comment_BOX">
				<div class="comment_mediatitle_BOX"><a title="{song.FULLTITLE}" class="a_comment_mediatitle_BOX" href="{song.URL}"><img src="{TPL_LINK}/img/pen.png"> {song.TITLE}</a></div>
				<div class="comment_content_BOX">
					<a class="comment_sender_BOX" href="{comment.POSTER_URL}">{comment.POSTER}</a>: {comment.CONTENT}
				</div>
			</div>
		<!-- #END newest_commnet.row -->
		<!-- END newest_commnet -->
	</td></tr>
</table>