<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr width=100%>
		<td class=headblack1_l width=15 ></td>
		<td align=center class=headblack1_c style="color:#FFF;" >.:: THÔNG TIN ÂM NHẠC ::. </td>
		<td class=headblack1_r width=15 > </td>
	</tr>
</table>

<table cellpadding=2 cellspacing=0 width=100% class=border>
	<tr><td colspan="2" class=head_div height=10 width=100%> </td></tr>
	<tr>
	<!-- BEGIN news -->
	<!-- #BEGIN news.row -->
			<td width="50%">
				<table style="border: #ADD1FF 1px solid; border-top: 0px;" cellpadding="0" cellspacing="0" height="200">
					<tr>
						<td style="font-size:12px" height="31" class=title_n>
							&nbsp;&raquo;&raquo;&nbsp;<a title="{news.FULLTITLE}" onclick="self.scrollTo(0, 550);" href="{news.URL}">{news.TITLE}</a>
						</td>
					</tr>
					<tr valign="top">
						<td  class="m_list">
							<table align="left" border="0">
								<tr>
									<td >
										<img src="{news.IMAGES}" width="80" vspace="2" hspace="2" >
									</td>
								</tr>
							</table>
							<font style="text-align:justify; line-height:120%">{news.CONTENT}</font>
						</td>
					</tr>
					<tr>
						<td style="color:#FFCC00" height="15"  class="m_list_2" align="right">
							<a onclick="self.scrollTo(0, 550);" href="{news.URL}"><img src='{TPL_LINK}/img/icon-xemchitiet.gif' border=0> xem chi tiết...</a>&nbsp; 
						</td>
					</tr>
				</table>
			</td>
	<!-- #END news.row -->
	<!-- END news -->
</tr>
</table>