<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: CKNL ::. </td>		<td class=head_r > </td>	</tr></table><table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr><td class=head_div>
	<!-- BEGIN news_cat_list -->
	<!-- #BEGIN news_cat_list.parent -->
	<div style="padding:2px; background-color:#F9F9F9"><img src='{TPL_LINK}/img/media/lyric.gif'> <a href={cat_parent.URL}><b>{cat_parent.NAME}</b></a></div>
	<!-- #END news_cat_list.parent -->
	<!-- #BEGIN news_cat_list.sub -->
	<div style="padding-left:12px; margin:2px;"> <img src='{TPL_LINK}/img/media/0001.gif'> <a href={cat_sub.URL}> {cat_sub.NAME}</a></div>
	<!-- #END news_cat_list.sub -->
	<!-- END news_cat_list -->
	</td></tr>
</table>