
<style>
.form {
	border: #c6d6e6 1px solid; 
	padding-right: 1px; 
	padding-left: 1px; 
	padding-top: 2px;
	margin: 0px;
	margin-top: 1px;
	background: #ffffff; 
	font: 12px Arial, Helvetica, sans-serif; 
	width: 100%; 
	color: #666666; 
}

    /******************************** Start smilie picker style *******************************/
	#smiley_box{
		width:95px;
		position:absolute;
		display:none;
		margin-left: 55px;
	}
	#smiley_box .smiley_top{
		background-image: url('shoutbox/images/smiley_top.png');
		background-repeat:no-repeat;
		height:30px;
		padding-left: 36px;
		
	}
	#smiley_box .smiley_middle{
		background-image: url('shoutbox/images/smiley_middle.png');
		background-repeat:repeat-y;	
		background-position:bottom left;
		padding-left:7px;
		padding-right:7px;
		padding-bottom: 0px;
		padding-top: 5px;
		margin-top: 0px;
		
	}
	#smiley_box .smiley_middle span{
		position:relative;
	}
	#smiley_box .smiley_bottom{
		background-image: url('shoutbox/images/smiley_bottom.png');
		background-repeat:no-repeat;
		background-repeat:no-repeat;
		background-position:bottom left;
		height:44px;
		top:-6px;
		
	}
	#smiley_box a {
		float: left; text-decoration: none
	}
	#smiley_box a:link {
		color: #808080
	}
	#smiley_box a:hover {
		color: #333; background-color: #efefef
	}
	#smiley_box a:active {
		color: #808080
	}
	#smiley_box a:visited {
		COLOR: #808080
	}
	#smiley_box img {
		border: 0;
	}

	/******************************** End smilie picker style *******************************/
</style>
<script type="text/javascript" language="JavaScript">
<!--
	function loeschen (box) {
		if (box.defaultValue==box.value) {
		box.value='';
		};
	}
	
	var smiletagURL = "./";

//-->
</script>
<script type="text/javascript" language="JavaScript" src="shoutbox/smiletag-script.js"></script>

<table width=100% border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class=head_l ></td>
		<td align=center class=head_c >.:: ShoutBox ::. </td>
		<td class=head_r > </td>
	</tr>
</table>

<table cellpadding=2 cellspacing=2 width=100% class=border>
	<tr class=head_div >
		<td>
		
	<form  name="smiletagform" method="post" action="shoutbox/post.php" target="iframetag">
	<b>{shout.NAME}</b>
	<br /><input type="text" class="form" name="mail_or_url" ONFOCUS='loeschen(this)' value="eMail (Không bắt buộc)" />
	<textarea class="form" name="message_box" rows="2" >Message</textarea><br />
	<input type="hidden" name="message" value="" />
	
	<!-- Start Smilie Picker -->
	  <div id="smiley_box">
			<div class="smiley_top">
				<br><a href="javascript:hideSmileyWindow();"><img src="shoutbox/images/delete_icon.gif" alt="Close"></a>
			</div>
			<div align="center" class="smiley_middle">

				<div align="center" id="smiley_box_content" style="padding: 0px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="80%">
				  <tbody><tr>
					<td align="center"><a href="javascript:insertSmiley(':)');"><img src="shoutbox/images/smilies/smile.gif" alt=":)"></a></td>
					<td align="center"><a href="javascript:insertSmiley(':D');"><img src="shoutbox/images/smilies/lol.gif" alt=":D"></a></td>
					<td align="center"><a href="javascript:insertSmiley(':(');"><img src="shoutbox/images/smilies/sad.gif" alt=":("></a></td>
				  </tr>
				  <tr>
					<td align="center"><a href="javascript:insertSmiley(':eek:');"><img src="shoutbox/images/smilies/eek.gif" alt="eek"></a></td>

					<td align="center"><a href="javascript:insertSmiley(':p');"><img src="shoutbox/images/smilies/tongue.gif" alt=":p"></a></td>
					<td align="center"><a href="javascript:insertSmiley(':cool:');"><img src="shoutbox/images/smilies/cool.gif" alt="cool"></a></td>
				  </tr>
				  <tr>
					<td align="center"><a href="javascript:insertSmiley(':bored:');"><img src="shoutbox/images/smilies/bored.gif" alt="bored"></a></td>
					<td align="center"><a href="javascript:insertSmiley('x(');"><img src="shoutbox/images/smilies/mad.gif" alt="x("></a></td>
					<td align="center"><a href="javascript:insertSmiley(':~');"><img src="shoutbox/images/smilies/lick.gif" alt=":~"></a></td>
				  </tr>
				</tbody></table>

				</div>
			</div>
			<div class="smiley_bottom"></div>
		</div>
	<!-- End Smilie Picker -->

	<div style="margin-top: 2px; margin-bottom: 2px">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr width="100%">
				<td align="left">
					<input type="submit" class=button name="submit" value="Send" onclick="clearMessage();" /> <a href="#" onclick="showSmileyWindow(event);return false" style="	font-family:Arial, Helvetica, sans-serif; font-size:10px; text-decoration:none;"><img title="Smilies" border=0 width=18 height=18 src="shoutbox/images/smilies/smile.gif" alt="Smilies"></a>
					</td>
				<td align="right">
					<a href="#" title="Kiểm tra tin nhắn tại Shoutbox" onclick="reload_shoutbox();return false"> <img width=18 height=18 src="shoutbox/images/refresh.gif">&nbsp;</a>
				</td>
			</tr>
		</table>
	</div>
	</form>
	
	<!-- <div id="note" align="center" style="font-size:10px;"><i>Nick inside { ... } only a guest</i></div> -->
		<iframe name="iframetag" onload="doLoad()" style="border: #c6d6e6 1px solid;" scrolling="auto" marginwidth="0" marginheight="0" src="shoutbox/view.php" width="100%" height="300" >
			Your Browser must support IFRAME to view
			this page correctly
		</iframe>

		</td>
	</tr>
</table>