<table cellpadding=2 cellspacing=2 width=100% class=border>
	<tr><td align=center class=title_r>Clock</td></tr>
	<tr>
		<td class=fr align=center>
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="140" height="140" align="middle">
			<param name="allowScriptAccess" value="sameDomain">
			<param name="movie" value="clock.swf">
			<param name="quality" value="high">
			<param name="bgcolor" value="#ffffff">
			<param name="scale" value="exactfit">
			<param name="menu" value="false">
			<embed src="clock.swf" quality="high" bgcolor="#ffffff" width="140" height="140" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
			</object>
		</td>
	</tr>

</table>


