<table width=100% border="0" cellpadding="0" cellspacing="0">	<tr>		<td class=head_l ></td>		<td align=center class=head_c >.:: Thành viên ::. </td>		<td class=head_r > </td>	</tr></table><table cellpadding=2 cellspacing=2 width=100% class=border>
	<tr class=head_div ><td>Chào <b>{user.NAME}</b></td></tr>
	<tr><td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=#Change_Info>Sửa thông tin</a></td></tr>
	<tr><td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=#Logout>Thoát</a></td></tr>
</table>