<table cellpadding=2 cellspacing=2 width=100% class=border>
	<tr><td align=center class=title_r>Liên kết</td></tr>
	<tr><td><MARQUEE scrollAmount=1 direction=up loop=true truespeed scrolldelay=12 height=120 onMouseOver="this.stop()" onMouseOut="this.start()">
	<!-- BEGIN ads -->
	<!-- #BEGIN ads.row -->
	<div><a href="{ads.URL}" target="_blank"><img width="160" height="80" src="{ads.IMG}" title="{ads.WEB}" alt="{ads.WEB}"></a></div>
	<!-- #END ads.row -->
	<!-- END ads -->
	</marquee></td></tr>
</table>