<table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr><td class=title_l align=center>Danh Mục Chính</td></tr>
	<tr><td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=#Home>Trang chủ</a></td></tr>
	<tr><td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=#Top_Play>Top Play</a></td></tr>
	<tr><td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=#Top_Download>Top Download</a></td></tr>
	<tr><td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=#List_Album>Danh sách Album</a></td></tr>
	<tr><td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=#List_User>Thành viên</a></td></tr>
</table>