<table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr><td class=title_l align=center colspan=2>:: Album mới ::</td></tr>
	<!-- BEGIN new_album -->
	<!-- #BEGIN new_album.begin_tag --><tr><!-- #END new_album.begin_tag -->
	<!-- #BEGIN new_album.row -->
		<td><table><td>
			<tr><td rowspan=2><img src="{album.IMG}" width=50 height=50></td><td><b><a href="{album.URL}">{album.NAME}</a></b></td></tr>
			<tr><td><a href="{singer.URL}">{singer.NAME}</a></td></tr>
		</td></table></td>
	<!-- #END new_album.row -->
	<!-- #BEGIN new_album.end_tag --></tr><!-- #END new_album.end_tag -->
	<!-- END new_album -->
</table>