<table cellpadding=2 cellspacing=2 width=100% class=border>
	<tr><td align=center colspan=2 class=title_l>Thống kê</td></tr>
	<tr><td class=fr>Ca sỹ</td><td class=fr_2><b>{stat.SINGERS}</b></td></tr>
	<tr><td class=fr>Bài hát</td><td class=fr_2><b>{stat.SONGS}</b></td></tr>
	<tr><td class=fr>Album</td><td class=fr_2><b>{stat.ALBUMS}</b></td></tr>
	<tr><td class=fr>Lượt nghe</td><td class=fr_2><b>{stat.VIEWS}</b></td></tr>
	<tr><td class=fr>Lượt download</td><td class=fr_2><b>{stat.DOWNLOADS}</b></td></tr>
	<tr><td class=fr>Thành viên</td><td class=fr_2><b>{stat.USERS}</b></td></tr>
	<tr><td class=fr>Lượt truy cập</td><td class=fr_2><b>{stat.COUNTER}</b></td></tr>
</table>