<form method="post" onSubmit="return false;" name="quick_login">
<table align=center cellpadding=2 cellspacing=2 class=border width=99%>
	<tr align="center"><td colspan=2 class=title_l>Đăng nhập</td></tr>
	<tr><td colspan=2><div id='login_loading' style='display:none;margin-bottom:5'></div></td></tr>
	<tr>
		<td class="fr" width="20%"><b style="font-size:10px">Username</b></td>
		<td class="fr_2"><input size="10" type="text" name="name" maxlength="50"></td>
	</tr>
	<tr>
		<td class="fr"><b style="font-size:10px">Mật khẩu</b></td>
		<td class="fr_2"><input size="10" type="password" name="pwd" maxlength="50"></td>
	</tr>
	<tr><td align="center" colspan="2" class="fr"><input type="submit" value="Đăng nhập" class="submit" onClick="return login('quick_login');"></td></tr>
	<tr><td align="center" class="fr_2" colspan="2"><a href="#Register"><b>&#187; Đăng ký mới &#171;</b></a><br><a href="#Forgot_Password"><b>&#187; Quên mật khẩu &#171;</b></a></td></tr>
</table>
</form>